@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.top{
    height: 100px;
    /* border: 3px solid black; */
    width: 100%;
    overflow: hidden;
    position: relative;
}

.top img{
    position: relative;
    height: 80px;
    top: 10%;
    margin-left: 50px;
}
#nav-bar{
    position: relative;
    display: inline;
    /* background-color: aqua; */
    float: right;
    margin-right: 50px;
    top:50%;
}
#nav-bar *{
    padding-left: 5px;
}
.navbar-divider{
    margin: 0px 100px;
    height: 5px;
    background-color: rgba(61, 77, 77, 0.411);
}

.main-container{
    position: relative;
    margin: 0px 150px;
}

.main-container h1{
    margin-top: 100px;
    font-size: 3rem;   
}

.main-container h3{
    margin-top: 40px;
    font-size: 1.5rem; 
    color: rgb(8, 117, 117);
}

.signup-form{
    margin-top: 20px;
}

.signup-form *{
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup-form input[type=text], .signup-form input[type=password]{
    height: 30px;
    width: 300px;
}

.signup-form button{
    width: 100px;
    height: 30px;
}